{% extends "layout.njk" %}
{% block content%}
  {% block head %}
    <title>Sobre - Daniel Braz</title>
  {% endblock %}
  <div id="wrapper">
    <img src="https://avatars1.githubusercontent.com/u/29317790?s=460&u=7ead8fb31f383bf39620f4468b7a29982a16dd2e&v=4" alt="Daniel Braz"/>
    <h1>Daniel Braz</h1>
    <h2>Software Developer</h2>
    <p>
      Programador full-stack iniciante trabalhando atualmente na Mundiale. Conheça o meu
      <a href="https://github.com/drzbraz" target="_blank">GitHub</a>.
    </p>
  </div>

  <div id="links-footer" class="links">
    <a href="https://www.linkedin.com/in/drzbraz/" target="_blank">Linkedin</a>
    <a href="https://www.instagram.com/drzbraz/" target="_blank">Instagram</a>
  </div>
{% endblock %}