<!DOCTYPE html>
<html>
  <head>
    <title>Daniel Braz</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="links">
        <a href="index.html">Sobre</a>
        <a href="projetos.html">Projetos</a>
        <a href="contato.html">Contato</a>
      </div>
    </header>
    <div id="wrapper">
      <h1>Contato</h1>
    </div>

    <section class="cards">
      <div class="card__image-container">
        <img src="" alt="" />
      </div>
      <div></div>
    </section>
  </body>
</html>
